:root {
    --nav-hover-color: rgba(255, 253, 208, 0.75);
    --nav-color: rgba(255, 255, 255, 1);
    --nav-height: 7.5vh;
    --line-height: 6.5vh;
    --snowflake: url(../images/snowflakes/snowflake1.png);
}
@keyframes snowflake1 {
    0% {
        margin-left: 0;
        transform: rotateY(0deg);
    }
    50% {
        margin-left: 0;
        transform: rotateY(70deg);
    }
    100% {
        margin-left: 0;
        transform: rotateY(0deg);
    }
}
body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.logo-container {
    font-family: 'Pacifico', cursive;
}
.landing-video {
    width: 100vw;
    height: 51vh; 
}
#summary {
    background-image: url(../images/landing-page.JPG);
    background-repeat: no-repeat;
}
.snowflake {
    margin-top: 50px;
    width: 60px;
    height: 60px;
    background-image: var(--snowflake);
    background-repeat: no-repeat;
    animation-name: snowflake1;
    animation-duration: 4s;
}
header {
    height: var(--nav-height);
    position: fixed;
    /* background-color: blue; */
    text-align: center;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 1;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: var(--nav-height);
}
nav.scrolled {
    background-color: var(--nav-color);
}
.iframe-container {
    text-align: center;
    width: 100vw;
    height: 100vw;
    margin: 0;/* margin: 6.5vh 0 0 0; */
    overflow: hidden;

}
.flex-container {
    display: flex;
    width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#history {
    height: 100vh;
}
section {
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    padding-top: var(--nav-height);
}
@media only screen and (max-width: 500px) {
    .overlay {
        height: 100%;
        width: 0;
        position: fixed; /*stay in place*/
        z-index: 1; /*sit on top*/
        left: 0;
        top: 0;
        background-color: var(--nav-hover-color);
        /* background-color: rgba(0,0,0, 0.9); */
        overflow-x: hidden; /*Disable horizontal scroll*/
        transition: 1.5s /*0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    }
    /* Position content within overlay */
    .overlay-content {
        white-space: nowrap;
        position: relative;
        top: 25%; /*25% from top*/
        width: 100%; /*100% width*/
        text-align: center;
        margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens*/
    }
    /* Navigation anchor tags inside the overlay */
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block; /*display block instead of inline*/
        transition: 0.3s /*transition effects on hover (color)*/
    }
    /* When you mouse over the navigation links, change their color */
    .overlay a:hover, .overlay a:focus {
        /* color: #f1f1f1; */
        color: black;
    }
    /* Position the close button (top right corner) */
    /* .overlay .closeBtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    } */
    .openBtn:hover {
        cursor: pointer;
    }

    .logo-container {
        margin-top: 9vh;
    }
    .bar-container {
        position: fixed;
        display: block;
        top: 0;
        left: 10vw;
        width: 30px;
        height: 30px;
        margin-top: 5vh;
        margin-bottom: 17px;
        margin-right: 20vw;
        background: none;
        cursor: pointer;
        z-index: 3;
    }
    .bar-container div {
        display: block;
    }
    .bar-1, .bar-2, .bar-3 {
        display: block;
        width: 30px; /*16px;*/
        height: 4px; /*2px;*/
        border-radius: 10px;
        background: black;
        margin: 2px 0;
        transition: all 0.5s;
    }
    .bar-2 {
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .change .bar-1 {
        transform: rotate(-45deg) translate(-6.75px, 6.7px)
        /* transform: rotate(-45deg) translate(-2.75px, 2.7px); */
        
    }
    .change .bar-2 {
        background-color:aqua;
        transform: translateY(-500px);
    }
    .change .bar-3 {
        transform: rotate(45deg) translate(-2.75px, -3px);
    }
}